.HOME{background-color:pink;}
H1,H2{color:rgb(228, 100, 228) ; background-color: rgb(107, 205, 238); text-align: center;}
H3{color: rgb(42, 42, 209);}
.ABOUT{background-color: rgb(103, 240, 217);
    color: rgb(20, 136, 179);
    border: 5px solid;
    border-radius: 25px;
}
.CONTACT{background-color: rgb(245, 167, 221);
text-align: center;
border-radius: 25px;
border: 5px solid;
}
.contact{color: blueviolet;}
.purchase{background-color: rgb(221, 207, 235); text-align: justify;}
h4{color: rgb(221, 224, 9);
    text-align: left;
    background-color: rgb(95, 119, 228);
width: 150;
border: 3px solid;
border-radius: 25px;
}
.logo{
    text-align: center;
}
.mc{background-color: rgb(202, 6, 202);
color: rgb(92, 18, 42);
text-align: center;
width: 400px;
}
.rad{
    border-radius: 50px;
}
.p{
border-radius: 12px;
border: 3px solid;
width: 400px;
border-color: purple;

}
.form{
    background-color: rgb(76, 224, 243);
    border: 4px solid;
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    border-color: blueviolet;
}
a{
    text-decoration: none;
    background: rgb(70, 70, 243);
    color: black;
    border-radius: 5px;
    width: 50px;
    font-weight: bold;
    position:relative;
    margin: 3px;
}
.a:hover{
    color: orangered;
}
p:hover{
    color:none;
}




































































